In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Imported the data
data = pd.read_csv('mbti_1.csv')

In [3]:
data.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [4]:
data.shape

(8675, 2)

In [5]:
pd.options.display.max_colwidth = 2000
print(data.loc[1,['posts']])

posts    'I'm finding the lack of me in these posts very alarming.|||Sex can be boring if it's in the same position often. For example me and my girlfriend are currently in an environment where we have to creatively use cowgirl and missionary. There isn't enough...|||Giving new meaning to 'Game' theory.|||Hello *ENTP Grin*  That's all it takes. Than we converse and they do most of the flirting while I acknowledge their presence and return their words with smooth wordplay and more cheeky grins.|||This + Lack of Balance and Hand Eye Coordination.|||Real IQ test I score 127. Internet IQ tests are funny. I score 140s or higher.  Now, like the former responses of this thread I will mention that I don't believe in the IQ test. Before you banish...|||You know you're an ENTP when you vanish from a site for a year and a half, return, and find people are still commenting on your posts and liking your ideas/thoughts. You know you're an ENTP when you...|||http://img188.imageshack.us/img188/6422/6020d1f9da6944a6b71bbe6.jpg|||http://img.adultdvdtalk.com/813a0c6243814cab84c51|||I over think things sometimes. I go by the old Sherlock Holmes quote.  Perhaps, when a man has special knowledge and special powers like my  own, it rather encourages him to seek a complex...|||cheshirewolf.tumblr.com  So is I :D|||400,000+  post|||Not really; I've never thought of E/I or J/P as real functions.  I judge myself on what I use. I use Ne and Ti as my dominates. Fe for emotions and rarely Si. I also use Ni due to me strength...|||You know though. That was ingenious. After saying it I really want to try it and see what happens with me playing a first person shooter in the back while we drive around. I want to see the look on...|||out of all of them the rock paper one is the best. It makes me lol.  You guys are lucky :D I'm really high up on the tumblr system.|||So did you hear about that new first person shooter game? I've been rocking the hell out of the soundtrack on my auto sound equipment that wil...
Name: 1, dtype: object

In [6]:
print(data.loc[0,['posts']])

posts    'http://www.youtube.com/watch?v=qsXHcwe3krw|||http://41.media.tumblr.com/tumblr_lfouy03PMA1qa1rooo1_500.jpg|||enfp and intj moments  https://www.youtube.com/watch?v=iz7lE1g4XM4  sportscenter not top ten plays  https://www.youtube.com/watch?v=uCdfze1etec  pranks|||What has been the most life-changing experience in your life?|||http://www.youtube.com/watch?v=vXZeYwwRDw8   http://www.youtube.com/watch?v=u8ejam5DP3E  On repeat for most of today.|||May the PerC Experience immerse you.|||The last thing my INFJ friend posted on his facebook before committing suicide the next day. Rest in peace~   http://vimeo.com/22842206|||Hello ENFJ7. Sorry to hear of your distress. It's only natural for a relationship to not be perfection all the time in every moment of existence. Try to figure the hard times as times of growth, as...|||84389  84390  http://wallpaperpassion.com/upload/23700/friendship-boy-and-girl-wallpaper.jpg  http://assets.dornob.com/wp-content/uploads/2010/04/round-home-design.jpg ...|||Welcome and stuff.|||http://playeressence.com/wp-content/uploads/2013/08/RED-red-the-pokemon-master-32560474-450-338.jpg  Game. Set. Match.|||Prozac, wellbrutin, at least thirty minutes of moving your legs (and I don't mean moving them while sitting in your same desk chair), weed in moderation (maybe try edibles as a healthier alternative...|||Basically come up with three items you've determined that each type (or whichever types you want to do) would more than likely use, given each types' cognitive functions and whatnot, when left by...|||All things in moderation.  Sims is indeed a video game, and a good one at that. Note: a good one at that is somewhat subjective in that I am not completely promoting the death of any given Sim...|||Dear ENFP:  What were your favorite video games growing up and what are your now, current favorite video games? :cool:|||https://www.youtube.com/watch?v=QyPqT8umzmY|||It appears to be too late. :sad:|||There's someone out there for everyone.|||Wait....
Name: 0, dtype: object

In [7]:
hiv_data = pd.read_sas('adultf.sas7bdat')

In [8]:
hiv_data.head()

,PUF1Y_ID,AA5C_XX,AB1_XX,AB17_XX,AB18_XX,AB19_XX,AB22_XX,AB24_XX,AB25_XX,AB29_XX,...,SRO_XX,SRPH_XX,SRSEX_XX,SRTENR_XX,SRVT_XX,SRW_XX,UR_BG_XX,UR_IHS_XX,UR_OMB_XX,UR_RHP_XX
0,b'16000001',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,b'16000002',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,b'16000003',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,b'16000004',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,b'16000005',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
hiv_data.shape

(21055, 182)

In [10]:
hiv_data2 = pd.read_sas('adult.sas7bdat')

In [11]:
hiv_data2.head()

,AA5C,AB1,AB17,AB40,AB41,AB19,AH13A,AB18,AB43,AB98,...,RAKEDW71,RAKEDW72,RAKEDW73,RAKEDW74,RAKEDW75,RAKEDW76,RAKEDW77,RAKEDW78,RAKEDW79,RAKEDW80
0,-1.0,3.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,73.826173,69.932463,73.705872,69.998926,72.583638,71.089426,72.972976,70.981857,71.837626,71.523375
1,-1.0,5.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,245.115106,222.675150,233.139605,229.428717,235.382498,231.475203,227.281215,239.563775,222.718738,243.572447
2,-1.0,2.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,17.052399,18.833852,17.360341,18.427077,18.809908,17.272116,18.145111,17.812126,18.239374,17.640733
3,-1.0,3.0,1.0,1.0,1.0,5.0,2.0,1.0,1.0,1.0,...,34.798183,34.826681,35.003956,34.557119,35.687159,34.228891,35.917639,34.008660,34.584389,35.332237
4,-1.0,3.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,21.103787,22.131700,21.224717,21.955083,22.444161,21.029698,21.747645,21.684743,21.881689,21.515306

In [12]:
hiv_data2.shape

(21055, 445)

In [13]:
hiv_data3 = pd.read_sas('ADULT.xpt')

In [14]:
hiv_data3.head()

,AA5C,AB1,AB17,AB40,AB41,AB19,AH13A,AB18,AB43,AB98,...,RAKEDW71,RAKEDW72,RAKEDW73,RAKEDW74,RAKEDW75,RAKEDW76,RAKEDW77,RAKEDW78,RAKEDW79,RAKEDW80
0,-1.0,3.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,73.826173,69.932463,73.705872,69.998926,72.583638,71.089426,72.972976,70.981857,71.837626,71.523375
1,-1.0,5.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,245.115106,222.675150,233.139605,229.428717,235.382498,231.475203,227.281215,239.563775,222.718738,243.572447
2,-1.0,2.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,17.052399,18.833852,17.360341,18.427077,18.809908,17.272116,18.145111,17.812126,18.239374,17.640733
3,-1.0,3.0,1.0,1.0,1.0,5.0,2.0,1.0,1.0,1.0,...,34.798183,34.826681,35.003956,34.557119,35.687159,34.228891,35.917639,34.008660,34.584389,35.332237
4,-1.0,3.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,21.103787,22.131700,21.224717,21.955083,22.444161,21.029698,21.747645,21.684743,21.881689,21.515306

In [15]:
hiv_data3.shape

(21055, 445)

In [16]:
hiv_data4 = pd.read_sas('ADULTf.xpt')

In [17]:
hiv_data4.head()

,PUF1Y_ID,AA5C_XX,AB1_XX,AB17_XX,AB18_XX,AB19_XX,AB22_XX,AB24_XX,AB25_XX,AB29_XX,...,SRO_XX,SRPH_XX,SRSEX_XX,SRTENR_X,SRVT_XX,SRW_XX,UR_BG_XX,UR_IHS_X,UR_OMB_X,UR_RHP_X
0,b'16000001',5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
1,b'16000002',5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
2,b'16000003',5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
3,b'16000004',5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
4,b'16000005',5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79

In [18]:
hiv_data4.shape

(21055, 182)

In [19]:
link = "https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/ESS_practice_data/ESSdata_Thinkful.csv"
c=pd.read_csv(link)

In [20]:
c.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [21]:
c.tail()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
8589,SE,3729.0,7,3.0,4.0,5.0,3.0,6.0,6.0,2.0,1.0,18.0,2.0
8590,SE,3732.0,7,5.0,6.0,4.0,4.0,10.0,6.0,3.0,1.0,15.0,2.0
8591,SE,3743.0,7,4.0,5.0,7.0,6.0,8.0,6.0,3.0,1.0,44.0,2.0
8592,SE,3744.0,7,5.0,8.0,8.0,6.0,9.0,7.0,3.0,1.0,15.0,2.0
8593,SE,3746.0,7,2.0,6.0,7.0,5.0,7.0,7.0,4.0,2.0,15.0,2.0

In [42]:
brain_data = pd.read_csv('brain_eeg_data.csv')

In [43]:
brain_data.columns

Index(['Unnamed: 0', 'id', 'indra_time', 'browser_latency', 'reading_time',
       'attention_esense', 'meditation_esense', 'eeg_power', 'raw_values',
       'signal_quality', 'createdAt', 'updatedAt', 'label'],
      dtype='object')

In [58]:
brain_data[brain_data.id == 1]['label'].unique()

array(['unlabeled', 'blinkInstruction', 'blink1', 'blink2', 'blink3',
       'blink4', 'blink5', 'relaxInstruction', 'relax', 'mathInstruction',
       'math1', 'math2', 'math3', 'math4', 'math5', 'math6', 'math7',
       'math8', 'math9', 'math10', 'math11', 'math12', 'musicInstruction',
       'music', 'videoInstruction', 'video-ver1',
       'thinkOfItemsInstruction-ver1', 'thinkOfItems-ver1',
       'colorInstruction1', 'colorInstruction2', 'readyRound1',
       'colorRound1-1', 'colorRound1-2', 'colorRound1-3', 'colorRound1-4',
       'colorRound1-5', 'colorRound1-6', 'readyRound2', 'colorRound2-1',
       'colorRound2-2', 'colorRound2-3', 'colorRound2-4', 'colorRound2-5',
       'colorRound2-6', 'readyRound3', 'colorRound3-1', 'colorRound3-2',
       'colorRound3-3', 'colorRound3-4', 'colorRound3-5', 'colorRound3-6',
       'readyRound4', 'colorRound4-1', 'colorRound4-2', 'colorRound4-3',
       'colorRound4-4', 'colorRound4-5', 'colorRound4-6', 'readyRound5',
       'colorRound5-1', 'colorRound5-2', 'colorRound5-3', 'colorRound5-4',
       'colorRound5-5', 'colorRound5-6'], dtype=object)

In [33]:
stimulus_data = pd.read_csv('brain_stimulus_times.csv')

In [34]:
stimulus_data.head()

         event name                        time
0   everyone paired   2015-05-09 23:26:34.35+00
1  blinkInstruction  2015-05-09 23:32:36.911+00
2            blink1  2015-05-09 23:32:41.371+00
3            blink2  2015-05-09 23:32:42.872+00
4            blink3  2015-05-09 23:32:44.371+00

In [35]:
stimulus_data.shape

(131, 2)

In [38]:
stimulus_data['event name'].unique()

array(['everyone paired', 'blinkInstruction', 'blink1', 'blink2', 'blink3',
       'blink4', 'blink5', 'relaxInstruction', 'relax', 'mathInstruction',
       'math1', 'math2', 'math3', 'math4', 'math5', 'math6', 'math7',
       'math8', 'math9', 'math10', 'math11', 'math12', 'musicInstruction',
       'music', 'videoInstruction', 'video-ver1',
       'thinkOfItemsInstruction-ver1', 'thinkOfItems-ver1',
       'colorInstruction1', 'colorInstruction2', 'readyRound1',
       'colorRound1-1', 'colorRound1-2', 'colorRound1-3', 'colorRound1-4',
       'colorRound1-5', 'colorRound1-6', 'readyRound2', 'colorRound2-1',
       'colorRound2-2', 'colorRound2-3', 'colorRound2-4', 'colorRound2-5',
       'colorRound2-6', 'readyRound3', 'colorRound3-1', 'colorRound3-2',
       'colorRound3-3', 'colorRound3-4', 'colorRound3-5', 'colorRound3-6',
       'readyRound4', 'colorRound4-1', 'colorRound4-2', 'colorRound4-3',
       'colorRound4-4', 'colorRound4-5', 'colorRound4-6', 'readyRound5',
       'colorRound5-1', 'colorRound5-2', 'colorRound5-3', 'colorRound5-4',
       'colorRound5-5', 'colorRound5-6', 'unlabeled', 'video-ver2',
       'thinkOfItemsInstruction-ver2', 'thinkOfItems-ver2'], dtype=object)

In [39]:
subject_data = pd.read_csv('brain_subject_metadata.csv')

In [40]:
subject_data.head()

   ID  Session Seen video before? Chosen color Saw icons? Gender Wear contacts
0   1        1                  n            b          n      f             n
1   2        1                  n            b          n      m             n
2   3        1                  n            r          n      f             n
3   4        1                  n            y          n      m             y
4   5        1                  n            b          n      m             n

In [41]:
subject_data.shape

(30, 7)